{% extends 'base.html' %}

{% block content %}


<div class="auth-page">

<div class="auth-card">


<div class="auth-left">

<h1>

👑 Add Admin

</h1>


<p>

Create trusted admins
for managing MedSys.

</p>


<ul>

<li>

✔ Secure access

</li>


<li>

✔ Instant approval

</li>


<li>

✔ Password confirmation

</li>


</ul>


</div>




<div class="auth-right">

<h2>

Create Admin

</h2>


{% if success %}

<div class="success-box">

{{success}}

</div>

{% endif %}



<form method="post">

{% csrf_token %}


{% if f.non_field_errors %}

<div class="error-box">

{{f.non_field_errors}}

</div>

{% endif %}


{% for field in f %}

<div class="form-group">

<label>

{{field.label}}

</label>


{{field}}


<div class="err">

{{field.errors}}

</div>

</div>

{% endfor %}



<button class="auth-btn">

Create Admin

</button>

</form>

</div>

</div>

</div>

{% endblock %}