{% extends 'base.html' %}

{% block content %}

<div class="hero">

<h1>
Find Your Doctor
</h1>

<p>
Choose specialists and book appointments
</p>

</div>


<div class="cats">

{% for c in categories %}

<span
class="cat-btn"
onclick="filterDoctors('{{c}}')">

{{c}}

</span>

{% endfor %}

</div>


<div class="row">

{% for i in d %}

{% include 'doctor_card.html' %}

{% endfor %}

</div>



<script>

function filterDoctors(category){

let doctors=
document.querySelectorAll('.doctor-item');

category=
category.toLowerCase();

let known=[

'cardiology',
'neurology',
'orthopedic',
'dermatology',
'pediatric',
'ent',
'psychiatry',
'general',
'gynecology'

];

doctors.forEach(

doctor=>{

let spec=

doctor.dataset.specialization

.toLowerCase();



if(

category=='all'

){

doctor.style.display='block';

}


else if(

category=='other'

){

doctor.style.display=

known.includes(spec)

?

'none'

:

'block';

}


else{

doctor.style.display=

spec.includes(category)

?

'block'

:

'none';

}

}

);

}

</script>


{% endblock %}