{% extends 'base.html' %}

{% block content %}


<a
href="/doctor_history"
class="btn btn-primary mb-4">

View History

</a>



{% for i in a %}

<div class="appointment-card">

<h3>

{{i.patient.user.username}}

</h3>


<p>

{{i.date}}

</p>


<p>

{{i.reason}}

</p>



{% if i.payment_screenshot %}

<img

src="{{i.payment_screenshot.url}}"

class="receipt-img"

>

{% endif %}



<a

href="/approve_appointment/{{i.id}}"

class="btn btn-success">

Approve

</a>



<a

href="/reject_appointment/{{i.id}}"

class="btn btn-danger">

Reject

</a>


</div>


{% empty %}

<h3>

No pending requests

</h3>

{% endfor %}


{% endblock %}