{% extends 'base.html' %}
{% block content %}


<a
href="/clear_doctor_history/"
class="btn btn-danger mb-4">

Clear History

</a>



{% for i in a %}


<div class="appointment-card">

<h3>

{{i.patient.user.username}}

</h3>


<p>

📅 {{i.date}}

</p>


<p>

🕒 {{i.time}}

</p>


<p>

📝 {{i.reason}}

</p>


<p>

💰 ₹{{i.amount}}

</p>


<p>

Payment:

{{i.payment_status}}

</p>


<p>

Status:

{{i.status}}

</p>



{% if i.payment_screenshot %}

<img

src="{{i.payment_screenshot.url}}"

class="receipt-img"

>

{% endif %}



<a

href="/delete_doctor_appointment/{{i.id}}"

class="btn btn-danger"

>

Delete

</a>


</div>



{% empty %}


<h3>

No appointment history

</h3>


{% endfor %}



{% endblock %}