{% extends 'base.html' %}

{% block content %}

<div class="appointment-head">

<h1>

My Appointments

</h1>


<a
href="/clear_patient_history/"
class="btn btn-danger">

Clear History

</a>

</div>



{% for i in a %}

<div class="appointment-card">

<h3>

Dr {{i.doctor.user.name|default:i.doctor.user.username}}

</h3>


<p>

📅 {{i.date}}

</p>


<p>

🕒 {{i.time}}

</p>


<p>

Status:

<span class="{{i.status}}">

{{i.status}}

</span>

</p>



{% if i.payment_screenshot %}

<img

src="{{i.payment_screenshot.url}}"

class="receipt-img"

>

{% endif %}



<a

href="/delete_patient_appointment/{{i.id}}"

class="btn btn-danger">

Delete

</a>


</div>


{% empty %}

<h3>

No appointments

</h3>

{% endfor %}


{% endblock %}