{% extends 'base.html' %}

{% block content %}

<h1 class="mb-4">

📅 Pending Appointments

</h1>

<h4>

Doctor:
Dr {{doctor.user.name|default:doctor.user.username}}

</h4>


{% for i in a %}

<div class="appointment-card">

<h3>

{{i.patient.user.name|default:i.patient.user.username}}

</h3>

<p>

📅 {{i.date}}

</p>

<p>

🕒 {{i.time}}

</p>

<p>

📝 {{i.reason}}

</p>

<p>

💰 ₹{{i.final_amount}}

</p>

{% if i.coupon_code %}

<p>

🎟 {{i.coupon_code}}

(-₹{{i.discount}})

</p>

{% endif %}

{% if i.payment_screenshot %}

<img
src="{{i.payment_screenshot.url}}"
class="receipt-img"
>

{% endif %}

<a
href="/approve_appointment/{{i.id}}"
class="btn btn-success">

Approve

</a>

<a
href="/reject_appointment/{{i.id}}"
class="btn btn-danger">

Reject

</a>

</div>

{% empty %}

<h3>

No pending appointments

</h3>

{% endfor %}

{% endblock %}