{% extends 'base.html' %}

{% block content %}

<div class="card p-4">

<h2>

👨‍⚕️ Doctor:

{{a.doctor.user.username}}

</h2>

<h3>

💰 Original Fee:

₹{{a.amount}}

</h3>

{% if success %}

<p style="color:green;">

{{success}}

</p>

{% endif %}

{% if e %}

<p style="color:red;">

{{e}}

</p>

{% endif %}

{% if a.discount > 0 %}

<p style="color:green;">

🎟 Coupon Applied:

<strong>

{{a.coupon_code}}

</strong>

</p>

<p style="color:green;">

Discount:

₹{{a.discount}}

</p>

{% endif %}

<h2>

✅ Final Amount:

₹{{a.final_amount}}

</h2>

{% if a.doctor.payment_qr %}

<img

src="{{a.doctor.payment_qr.url}}"

width="250"

>

<p>

Scan QR & Pay

</p>

{% endif %}

<form
method="POST"
enctype="multipart/form-data"
>

{% csrf_token %}

<label>

🎟 Coupon Code

</label>

<input
type="text"
name="coupon"
placeholder="Enter MED10"
class="form-control"

>

<br>

<button
type="submit"
name="apply_coupon"
class="btn btn-warning"
>
Apply Coupon
</button>

<hr>

<label>

📷 Upload Payment Screenshot

</label>

<input
type="file"
name="payment_screenshot"

>

<br><br>

<button
type="submit"
name="submit_payment"
class="btn btn-success"
>
Submit Payment
</button>

</form>

</div>

{% endblock %}
